<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.suntrans.smarthome">
    <!--允许程序打开网络套接字-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--用于写入缓存数据到扩展存储卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.READ_LOGS" />
    <!--保存资源到SD卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <application
        android:name="net.suntrans.smarthome.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="PGYER_APPID"
            android:value="b76297b2457c9d3ccadb4a720c56543f"></meta-data>

        <activity android:name="net.suntrans.smarthome.login.LoginActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="net.suntrans.smarthome.MainActivity" android:screenOrientation="portrait"/>
        <activity android:name="net.suntrans.smarthome.activity.perc.SuggestionActivity" android:screenOrientation="portrait"/>
        <activity android:name="net.suntrans.smarthome.activity.perc.AboutActivity" android:screenOrientation="portrait"/>
        <activity android:name="net.suntrans.smarthome.activity.perc.HelpActivity" android:screenOrientation="portrait"/>
        <activity android:name="net.suntrans.smarthome.activity.perc.ModifyPassActivity" android:screenOrientation="portrait"/>
        <activity android:name="net.suntrans.smarthome.activity.perc.SettingActivity" android:screenOrientation="portrait"/>
        <activity android:name="net.suntrans.smarthome.activity.perc.detail.AddDeviceActivity" android:screenOrientation="portrait"/>
        <activity android:name="net.suntrans.smarthome.activity.perc.detail.SwitchControlActivity" android:screenOrientation="portrait"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="net.suntrans.smarthome.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="net.suntrans.smarthome.activity.perc.detail.SensusDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.suntrans.smarthome.activity.mh.AddModelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.suntrans.smarthome.activity.perc.detail.SensusSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.suntrans.smarthome.activity.mh.EditSenceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.suntrans.smarthome.activity.mh.SenceDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.suntrans.smarthome.login.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.suntrans.smarthome.activity.room.EditRoomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.suntrans.smarthome.activity.ModifyINActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.suntrans.smarthome.activity.mh.EnvDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.suntrans.smarthome.activity.perc.DeviceManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.suntrans.smarthome.activity.mh.EditLinkageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.suntrans.smarthome.activity.mh.AddLinkageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.suntrans.smarthome.activity.mh.DeviceMainSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.suntrans.smarthome.activity.mh.ChooseDeviceTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.suntrans.smarthome.activity.mh.ChooseDeviceRoomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.suntrans.smarthome.activity.mh.SenceDevGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.suntrans.smarthome.activity.mh.AddSenceDevGrpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.suntrans.smarthome.activity.mh.LinkageGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.suntrans.smarthome.activity.mh.AddSenceLinkGrpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.suntrans.smarthome.activity.mh.ChooseLinkageConActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.suntrans.smarthome.activity.room.AddRoomDevGrpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.suntrans.smarthome.activity.mh.RoomDevGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.suntrans.smarthome.activity.room.RoomDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.suntrans.smarthome.activity.mh.ChooseLinkageResultActivity"
            android:screenOrientation="portrait" />
        <activity android:name="net.suntrans.smarthome.activity.mh.SpeechActivity" />
        <activity android:name=".login.GuideActivity" />
        <activity android:name=".activity.room.XenonActivity" />

        <service android:name="net.suntrans.smarthome.websocket.WebSocketService" />
        <service android:name="net.suntrans.smarthome.websocket.WebSocketService2" />

        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />
    </application>
</manifest>